@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

a{
    text-decoration:none;
    color:#5896ff;
}

body{
	margin: 0px;
    background-color: #161616;
}

li{
    margin:5px;
}
    
#header {
    margin-top:10px;
    display:flex;
}

#upper-button{
    display:inline-block;
}

img{
    margin:10px;
    border-radius: 50%;
    float:left;
    position:fixed;
	width:15%;
}

#img-stonks{
    border-radius: 0%;
    margin:10px;
    float:left;
    position:fixed;
}


.bio{
    margin-right:5%;
    margin-left:17%;
}

#bio-text{
    margin-left:5px;
    color:white;
    margin-bottom:15px;
    display:block;
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
}

#section{
    margin-right:5%;
    margin-left:17%;
    color:white;
    min-height:20px;
    display:block;
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
}

#result{
    color:white;
    margin-left:5px;
    margin-top:70px;
    margin-bottom:15px;
    display:block;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
}

.titles {
    margin-left:5px;
    margin-right:5%;
    width:100%;
    background-color: #161616;
    color:#0b43a0;
    font-family:'Century Gothic','Futura','Didact Gothic',san-serif;
	font-size:25px;
}

button{
    background-color: #c0e0f0;
    color: #161616;
    border-color: #4CAF50;
    user-select: none;
    border: none;
    border-radius: 2px;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size:100%;
}

.titles-section {
    margin-left:5px;
    color:#c0e0f0;
    font-family:'Century Gothic','Futura','Didact Gothic',san-serif;
	font-size:20px;
}

.active, .titles-section:hover {
    cursor:pointer;
}

.text{
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.fa {
  color:white;
  padding: 5px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}